
  header, footer, main, nav, aside {display: block;}
  body {font: 75%/1.5 verdana,geneva,lucida,arial,sans-serif; padding: 0; margin: 0;}
  header, .highlight:hover {background: #ccc;}
  header h1 {font: 200%/1.5 tahoma,geneva,lucida,arial,sans-serif; position: relative; z-index: 5; width: 6em; letter-spacing: 2px; padding: 10px 20px; margin: 0;}
  table {border-collapse: collapse; width: 100%; border-spacing: 0; margin-bottom: 200px;} 
  th, td {border: 1px solid #ccc; padding: .5em; text-align: left; vertical-align: top;}
  .displayHidden, #expandMoreA, #globalnav ol {display:none;}

  th a {color: #fff; display: block; text-decoration: none;}
  th a:visited {color: #fff;}
  .upArrow a {padding-left: 20px; background: url(../i/up-arrow.png) bottom left no-repeat;}
  .downArrow a {padding-left: 20px; background: url(../i/down-arrow.png) bottom left no-repeat;}
  a:hover, a:focus, #actionForm input:hover,  #actionForm input:focus, #expandMoreA:hover, #expandMoreA:focus {border: #0084ff solid 2px; outline: #fff solid 1px}
  #content {padding: 20px;}
  #content > div {float: left; width: 75%; margin-right: 3%;}
  #content h2 {margin: 0 0 .5em; font-size: 140%;}
  #content input {background: #fff; border: 2px solid #ccc; margin-right: .75em; cursor: pointer; padding: 4px 8px;}
  #content input[value="Show Low Priority"], #content input[value="Remove Row Highlight"], #content input[value="Show Type Column"] {background: #000; color: #fff; border: 0;}
  #utilitynav h2, thead th {font-size: 110%; background: #000; color: #fff; padding: 6px;}
  #utilitynav h2 {font-size: 120%;}
  #globalnav {position: absolute; right: 0; top: 13px; background: #ccc;}
  #globalnav ul, #utilitynav ul {list-style: none; margin: 0; padding: 0; font-size: 120%;}
  #globalnav ul li {margin-right: 12px; display: inline-block;}
  #globalnav ul li a, #globalnav strong {line-height: 1; padding: 7px; display: block; color: #000; text-decoration: none;}

  a {color: #000;}
  a:visited {color: #666;}
  #utilitynav {float: left; width: 22%; margin-top: 10px;}
  #utilitynav > div {border: 1px solid #ccc; margin-bottom: 1.5em;}
  #utilitynav li {padding: .5em; font-size: 90%;}
  #projectsTbl {margin-top: 2em;}
  #projectsTbl tbody th {font-weight: normal;}
  footer {background: #ccc;  position: fixed; bottom: 0; width: 100%}
  footer ul {list-style-type: none; padding: 0; text-align: center; margin: 3px;}
  footer li{display: inline-block; padding: 0 20px 2px 0;}

@media (max-width:800px) {

tbody th, td, .navmenumore {display: block;}
.navmenumore {margin: -10px;}
thead th {display:inline-block; border-right: 4px solid #fff; border-bottom: 5px solid #fff; }
td, th, #expandMoreA {border: none;}
tbody tr {border: 1px solid #ccc;}
#actionForm input {margin-top: 10px}
tbody td::before, tbody th::before {content: attr(data-cell) ": "; font-weight: 700;}
/*navigation*/
#expandMoreA {display:block; margin: -8px 0; height: 50px; width: 52px; float: right; background: none;}
#expandMoreA img {height: 45px;}
#globalnav ul {list-style: none; padding: 0; min-width: 200px; margin: 45px 0 0 0; display:none;}
#globalnav ul li {border-bottom: #666 solid 1px; border-right: #666 solid 1px; border-left: #666 solid 1px; display:block; margin-right: 0;}
#globalnav ul li a {padding: 10px 10px 10px 5px; width: 88%; display:inline-block;}

}

@media (max-width:420px) {
  #content > div {width: 67%;}
  #utilitynav {width: 30%;}
}

@media print {

  body, h1, h2 {font: 12pt/1.5 georgia,serif;}
  h1 {font-size: 18pt;}
  h2 {font-size: 15pt;}
  #globalnav, #utilitynav, #content form {display: none;}
  #content > div {float: none; width: 100%;}
  th, td {padding: 5pt; color: #000;}
  

}